.product-list-item {
    height: 370px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    border: 1px solid purple;
    margin-bottom: 15px;

    &__image-wrapper {
        margin-bottom: 10px;
    }

    &__image {
        height: 220px;
        width: 200px;
    }

    &__product-name {
        font-size: 14px;
        font-weight: 500;
        color: purple;
    }

    &__product-price {
        font-size: 18px;
        font-weight: 500;
        color: purple;
    }

    &__button {
        background-color: purple;
        color: white;
        padding: 8px 10px;
        border: none;
    }
}